* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    background-color: #f0f0f0;
}
.login-container{
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px(0,0,0,0.1);
    text-align: center;
}
.login-container h2{
    color: #333;
    margin-bottom: 1em;
}
.login-container p{
    margin-bottom: 2em;
    color: #555;
}
.input-grupo{
    margin-bottom: 1.5em;
}
.input-grupo label{
    display: block;
    margin-bottom: 0.5em;
    color: #555;
}
.input-grupo input{
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.forgot-password{
    display: block;
    margin-bottom: 2em;
    color: #007bff;
    text-decoration: none;
}
.forgot-password:hover {
    text-decoration: underline;
}
.login-button{
    display: block;
    width: 100%;
    padding: 0.75em;
    background-color: #e30613;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 1.5em;
}
.login-button:hover{
    background-color: #c20510;
}
.register-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 2em;
}
.register-link p{
    margin-top: 10%;
}
.createNew-account{
    display: inline-block;
    padding: 0.75em 1.5em;
    border: 2px solid #ffb800;
    background-color: white;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}
.create-account-button:hover {
    background-color: #ffb800;
    color: white;
}

.terms {
    display: block;
    color: #555;
    text-decoration: none;
}

.terms:hover {
    text-decoration: underline;
}
.continuar-con p{
    margin-bottom: 50px;
}
.continuar-con button{
    background: none;
    border: none;
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 12px;
    margin-left: 30%;
    border: 1px solid black ;
    font-family: Arial, Helvetica, sans-serif;
    padding:12px;
    margin-bottom: 12px;
}

.continuar-con img{
    height: 25px;
    padding:3%;
} 
